body{
  background-color: black;
  color: white;
  text-align: center;
  font-family: 'Cinzel', serif;
}
#Titling {
  margin-top: 12vh;
}

h1, h2 {
  font-weight: normal;
  line-height: 1.2rem;
}
h1 {
  font-size: 3em;
}

#Clock {
display: none;
}
#Clock img{
  position: fixed;
}
#Clock svg {
  overflow: visible;
  position: fixed;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 5em;
  }
}
