body{
  background-color: black;
  color: white;
  text-align: center;
  font-family: 'Cinzel', serif;
}
h1, h2 {
  font-weight: normal;
}

#Clock {
height: 80vh;
display: none;
}
#Clock img{
  position: fixed;
}
#Clock svg {
  overflow: visible;
}
