h1 {
  font-family: 'Cinzel', serif;
  font-weight: normal;
}

.century {
  font-family: century-gothic, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.form {
  padding: 2em 1em;
  background-color: black;
  font-family: century-gothic, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: white;
}

input {
    width: 90%;
    font-size: 1em;
    padding: 0.3em;
    line-height: 1.2em;
    margin: 0.6em 5%;
}

input[type='button'] {
  font-size: 1em;
  padding: 0.5em;
}
label {
  margin-left: 1em;
  font-size: 1.2em;
  padding: 0.2em;
}
